<!-- The second page of the website -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <a href="/1">1</a>
    <span>|</span>
    <a href="/2">2</a>
    <span>|</span>
    <a href="/3">3</a>
    <h1>ASUS ZENBOOK PRO 14 DUO OLED REVIEW: A DUAL-SCREEN LAPTOP THAT WORKS</h1>
    <p>AsusAsus did it. It’s made a dual-screen laptop that — and there was a time when I never thought I’d be saying these words — is actually pretty good.</p>
    <p>Asus has been doing this dual-screen form factor for a while, and parts of the $1,999.99-and -up ZenBook Pro Duo 14 OLED are nothing we haven’t seen before. Like previous models in the Duo line, there’s a big 14.5-inch screen on the top and a smaller 12.7-inch screen on the back of the keyboard deck (the ScreenPad Plus). Below that screen is the keyboard (reaching all the way to the front of said deck), with a teensy touchpad crammed to its right.</p>
</body>
</html>