<!-- The third page of the website -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <a href="/1">1</a>
    <span>|</span>
    <a href="/2">2</a>
    <span>|</span>
    <a href="/3">3</a>
    <h1>Google Brings Historical Photos to Street View Apps, Apple Music to Waze</h1>
    <p>After 15 years, Google Street View has become the defacto destination for people trying to get a feel for where they’re going. If not for Street View, I would have spent countless days and nights wandering around foreign locales, wondering where my hotel was or which side to cross the street to enter the train station.</p>
    <p>In honor of this indispensable Google feature, which is celebrating its 15th birthday this week, the company is rolling out a slew of new, helpful features for all who rely on Street View for getting around town. The first significant bit is that Google is bringing historical Street View data to both the feature’s iPhone and Android apps. While it’s long existed on desktop browsers, it’s a boon that it’s now available on mobile. Sometimes, you need to reference what a place looked like before it was, for example, covered in construction cranes and delivery trucks.</p>
</body>
</html>